{% extends 'bo_partials/layout.html.twig' %}

{% block content %}
    <p class="teal-text darken-4">Patrons dans la patronthèque : {{ patternCount[0].count }}</p>
    <p class="teal-text darken-4">Marques : {{ brandCount[0].count }}</p>
{% endblock %}