{% extends 'bo_partials/layout.html.twig' %}

{% block title %}Modifier le niveau de patron de couture {{ level }}{% endblock %}

{% block content %}
    <div class="container">
        <div class="row"><i class="fas fa-plus-circle fa-3x mr-3"></i><h1>Modifier le niveau de patron de couture : {{ level }}</h1></div>
        {% include 'admin/level/_form.html.twig' with {'bouton_label' : 'Modifier'} %}
    </div>
{% endblock %}