{% extends 'bo_partials/layout.html.twig' %}

{% block title %}Editer le rôle {{ role }}{% endblock %}

{% block content %}
    <div class="container">
        <div class="row"><i class="fas fa-plus-circle fa-3x mr-3"></i><h1>Modifier le rôle {{ role }}</h1></div>
        {% include 'admin/role/_form.html.twig' with {'bouton_label' : 'Modifier'} %}
    </div>
{% endblock %}