{% extends 'fo_partials/base.html.twig' %}

{% block javascripts %}
    {{ encore_entry_script_tags('search') }}
{% endblock %}

{% block body %}
    <div class="container">
        <form action="{{ path('searchTest') }}" method="get">
            <div class="row">
                <div class="col s12">
                    <div class="row">
                        <div class="form-group input-field col s12">
                            <i class="material-icons prefix">textsms</i>
                            <input type="text"
                                   id="autocomplete-input"
                                   name="q"
                                   class="form-control search-field autocomplete"
                                   placeholder="marque, patron, 'blouse manche courte col claudine'"
                                   autocomplete="on"
                                   autofocus
                                   data-no-results-message="Aucun résultat"
                            >
                        </div>
                    </div>
                </div>
            </div>

        </form>


        <div id="results" class="container">
        </div>
    </div>
{% endblock %}
