{% block javascripts %}
    {{ encore_entry_script_tags('search') }}
{% endblock %}

{% block main %}
    <form action="{{ path('searchTest') }}" method="get">

        <div class="row">
            <div class="col s12">
                <div class="row">
                    <div class="form-group input-field col s12">
                        <i class="material-icons prefix">textsms</i>
                        <input type="text"
                               id="autocomplete-input"
                               name="q"
                               class="form-control search-field autocomplete"
                               placeholder="marque, patron, 'blouse manche courte col claudine'"
                               autocomplete="off"
                               autofocus
                               data-no-results-message="{{ 'post.search_no_results'|trans }}"
                        >
                    </div>
                </div>
            </div>
        </div>

    </form>

    <div id="results" class="border-info">
    </div>
{% endblock %}