{% extends 'bo_partials/layout.html.twig' %}

{% block title %}Modifier le type de col {{ collar }}{% endblock %}

{% block content %}
    <div class="container">
        <div class="row"><i class="fas fa-plus-circle fa-3x mr-3"></i><h1>Modifier le type de col : {{ collar }}</h1></div>
        {% include 'admin/collar/_form.html.twig' with {'bouton_label' : 'Modifier'} %}
    </div>
{% endblock %}