{% extends 'admin/layout.html.twig' %}

{% block title %}Nouveau pattern{% endblock %}

{% block content %}
    <div class="row"><i class="fas fa-plus-circle fa-3x mr-3"></i><h1>Créer un pattern</h1></div>
    {% include 'admin/pattern/_form.html.twig' with {'bouton_label': 'Créer'} %}
{% endblock %}