{% extends 'admin/layout.html.twig' %}

{% block title %}Ajouter une marque de patron de couture {% endblock %}

{% block content %}
    <div class="container">
        <div class="row"><i class="fas fa-plus-circle fa-3x mr-3"></i><h1>Ajouter une marque</h1></div>
        {% include 'admin/brand/_form.html.twig' with {'bouton_label' : 'Ajouter'} %}
    </div>
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('upload') }}
{% endblock %}