{% extends 'bo_partials/layout.html.twig' %}

{% block title %}Modifier le genre des patrons de couture {{ gender }}{% endblock %}

{% block content %}
    <div class="container">
        <div class="row"><i class="fas fa-plus-circle fa-3x mr-3"></i><h1>Modifier le genre des patron de couture : {{ gender }}</h1></div>
        {% include 'admin/gender/_form.html.twig' with {'bouton_label' : 'Modifier'} %}
    </div>
{% endblock %}