/*.vich-image a {*/
/*    display: none;*/
/*}*/

.vich-image .form-check {
    display: none;
}

ul#menuMarques {
    columns: 4;
    -webkit-columns: 4;
    -moz-columns: 4;
}
.card-title {
    font-weight: 500 !important;
    font-size: 18px !important;
}